.img{
    border-radius: 50%;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    opacity: 1;
    border: 20px solid #FFFFFF;
}
.container{
    width: 1560px;
    height: 720px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
}
.left{
    float: left;
    margin: 72px 162px 72px 166px;
    max-width: 576px;
    max-height: 576px;
}
.logo{
    margin: 106px 382px 0px 0px;
}
.text{
    margin: 20px 155px 0px 0px;
    text-align: left;
    opacity: 1;
    letter-spacing: 0px;
    color: #3E3E3E;
    font-weight: bold;
    font: normal normal 400 40px/47px Roboto;
}
.ptext{
    
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.uname{
    margin:24px 0 0 0;
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}
.pass{
    margin:27px 0 0 0;
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}
.login{
    margin: 30px 0 0 0;
    width: 138px;
    height: 45px;
    color: white;
    border: 0px;
    background-color:#C8242F;
    border-color: none;
    border-radius: 23px;
    font-size: 18px;
}
.forgot{
    margin: 43px 0 0 171px ;
    width: 121px;
    height: 20px;
    text-align: left;
    font-size: 15px;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}
.member{
    margin: 23px 0 0 0;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    color: #ADADAD;
   
}
.register{
    font: normal normal normal 15px/20px Roboto;
    color: #C8242F;
    text-decoration: none;
}
::placeholder{
    padding: 15px 0 15px 15px;
    width: 68px;
    height: 20px;
}
@media (max-width:360px){
    .container_main{
        display: flex;
        flex-direction: row;
        background: #FAFAFA 0% 0% no-repeat padding-box; 
    }
    .left {
        margin: 25px 0px 15px 100px;       
    }
    .right{
        padding: 20px;
        margin-left: 120px;              
    }
    ::placeholder{
        padding: 15px 0 15px 15px;
        font: normal normal normal 20px/22px Roboto ;
    }
    .forgot{
        font-size: 20px;
        margin-left: 145px;
    }
    .member{
        font-size: 20px;
    }
    .register{
        font-size: 20px;
    }
}
@media (min-width:1580px){
    .container_main {
        margin-left: 140px;        
      }
}